<footer style="display: flex; width: 100%;">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-5"  style="border: 1px solid white;  text-align: center;">
     <img [attr.src]="gefooteraUrl()" [attr.alt]="gefooteraUrl()" style="border: 1px solid red;">
    </div>

  <div class="col-md-7" style="text-align: center; border: 1px solid red; ">
      <div class="mt-5" style=" border: 1px solid red;">
        <p style="display: inline; margin-right: 2.5%; font-size: 1.5rem; color: white;">
          &copy; LR soluciones integrales
      </p>
     <div style="border: 1px solid red; margin-top: 2.5%;">
        <a href="https://es-la.facebook.com/"> <img src="../../../assets/redes/facebook_137px_1223238_easyicon.net.png" alt="" [ngStyle]="redResponsive()"> </a>

      <a href="https://web.whatsapp.com/"> <img src="../../../assets/redes/WhatsApp_300px_1230530_easyicon.net.png" alt="" [ngStyle]="redResponsive()"></a>

      <a href="https://www.instagram.com/?hl=es-la"> <img src="../../../assets/redes/instagram_128px_1141403_easyicon.net.png" alt="" [ngStyle]="redResponsive()"></a>

      <a href="https://www.mercadolibre.com.ar/"> <img src="../../../assets/redes/mercadolibre_128px_1091197_easyicon.net.png" alt="" [ngStyle]="redResponsive()"></a>
     </div>

      </div>

      <div class="mt-2" style="border: 1px solid red;">
        <p style="margin-top: 0; padding: 0;">Fabrica y Administración: Uruguay 2057 - Rosario</p>
    <p style="margin-top: 0; padding: 0;">Santa Fe - Argentina</p>
    <p style="margin-top: 0; padding: 0;">Tel: (0341) 482-2211 / 444-8869</p>
    <p style="margin-top: 0; padding: 0;">WhatsApp / Cel: 341 5-762428</p>
    <p style="margin-top: 0; padding: 0;">Cuit: 20-34393255-5</p>

      </div>


    </div>
    </div>
  </div>




</footer>
