/* You can add global styles to this file, and also import other style files */

.container-fluid {
  border: 3px solid blueviolet;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
 margin: 0px;
 padding: 0px;
 overflow-x : hidden;
 box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
